.page-content-head {
    margin-top: 20px;
}

.page-content-table-wrapper {

    .page-content-buttons {

        margin-top: 20px;
        text-align: center;

        button {
            margin: 5px;
        }
    }

}
