$gray: #F5F5F5;
$blue: #00a5e0;
$blueHover: #00b4f5;
$blueActive: #0092c7;


.page-content {
    margin: 10px 30px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    height: 500px;
    overflow: auto;
}
