@import "../base/style";

.table-content {
    position:relative;
    table.table-nowrap {
        td, th{
            white-space:nowrap;
        }
    }
    table.xmall-complex-table {
        font-size: 12px;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        border-bottom: 1px solid $blue;

        tr {
            line-height: 40px;
            // border-top: 2px solid $blue;
            // border-bottom: 2px solid $blue;
            cursor: pointer;
            &:nth-child(even) td {
                background: $gray;
            }
            &:nth-child(odd) td {
                background: white;
            }
            th {
                line-height: 50px;
            }
            td {
                border: none;
                padding: 0 8px;
                a {
                    margin: 5px;
                }

                &.xmall-table-no-data {
                    height: 200px;
                    font-size: 30px;

                    .xmall-table-loading {
                        margin: 0 auto;
                        background-color: rgba(0,0,0,0);
                        border: 2px solid rgba(0,183,229,0.9);
                        opacity: .7;
                        border-top: 2px solid rgba(0,0,0,0);
                        border-left: 2px solid rgba(0,0,0,0);
                        border-radius: 50%;
                        box-shadow: 0 0 1px #2187e7;
                        width: 20px;
                        height: 20px;
                        animation: spin .5s infinite linear;
                    }
                }

                .xmall-table-state {
                    span {
                        margin: 5px;
                    }
                }

                .xmall-table-long {

                    position: relative;

                }

            }
        }
        thead tr {
            background: $blue;;
            th {
                text-align: center;
                color: white;
                padding: 0 8px;
            }
        }

    }
    .table-box {
        overflow-x: auto;
        &::-webkit-scrollbar {
            height: 12px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            // border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $blue;
            // border-radius: 10px;
            outline: 1px solid slategrey;
        }
    }
    .op-table{
        border-left: 1px solid #CCC;
        position: absolute;
        top: 0;
        right: -1px;
        z-index: 99;
    }
    table.op-xmall-table{
        thead tr {
            background: black;
        }
    }
}


