.page-content-table-wrapper {
    margin-top: 10px;

    .page-content-buttons {

        margin: 20px 0px 40px;
        text-align: center;

        button {
            margin: 5px;
        }
    }

}
