@import "../../component/base/style";


.page-operation {

    .page-operate-head {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }
    .form-group {

        line-height: 34px;

        .page-item-label {
            width: 20%;
            line-height:20px;
        }

        .page-item {
            font-size: 13px;
            float: right;
            width: 78%;

            input.long-input {
                width: 200px;
            }

            input.long-long-input {
                width: 400px;
                display: inline;
            }
            &.multi-text {

                display: inline-block;
                min-width: 240px;

                label {
                    margin-right: 20px;
                }

                &.multi-text-border {
                    border: 3px solid $blue;
                    padding: 10px 30px;
                }
            }

            &.select,
            &.timeRangeMinuteView {
                margin-left: 10px;
            }

            &.input-button {
                button {
                    margin-left: 10px;
                }
            }

            &.operate-radio {

                .operate-radio-item {

                    margin-right: 30px;
                    display: inline-block;

                    input {
                        display: inline-block;
                    }
                    label {
                        width: 30px;
                    }
                }
            }

            .xmall-choice {

                margin: 4px 4px 4px -4px;
                line-height: 0px;

                label {
                    width: 100px;
                    &.twice-lines {
                        line-height: 13px;
                    }
                    line-height: 26px;
                    font-size: 12px;
                }
            }

            button {
                margin-top: -3px;
            }




        }

        .page-operation-title {
            float: left;
            font-weight: 400;
            &:not(.inline-title) {
                width: 80px;
                margin: 10px 0px;
            }
            &.inline-title {
                margin-right: 10px;
            }
            line-height: 34px;

        }
    }

    button {
        margin-right: 10px;
    }

    .page-operation-block {
        margin: 10px 0px 10px 80px;
    }

    .page-operation-inline {
        float: left;
        line-height: 34px;
        margin-right: 20px;

    }

    .red {
        color: red;
    }

}

.add-operation {

    width: 100%;

    .red {
        color: red;
    }

    .margin-left-ten {
        margin-left: 10px;
    }
}
